__pycache__/

# Django compiled files
django_trip_webserver/board/__pycache__/
django_trip_webserver/django_trip_webserver/__pycache__/
django_trip_webserver/main/migrations/__pycache__/
django_trip_webserver/user/__pycache__/

# Specific migration files
django_trip_webserver/board/migrations/0001_initial.py
django_trip_webserver/board/migrations/0002_remove_trip_trip_break_end_and_more.py
django_trip_webserver/board/migrations/0002_rename_trip_break_end_trip_trip_time_and_more.py
django_trip_webserver/board/migrations/0003_alter_trip_is_deleted.py
django_trip_webserver/board/migrations/__pycache__/0001
