{% extends './base_temp.html' %} {% block main %}

<h2>로그인</h2>

<div class="col-8">
  <form action="{% url 'user:login' %}" method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="username" class="col-sm-2 col-form-label">아이디</label>
      <div class="col-sm-10">
        <input
          name="username"
          id="username"
          class="form-control"
          value="{{ form.username.value|default_if_none:'' }}"
        />
        {% for error in form.username.errors %}
        <div id="content-help" class="form-text text-danger">
          {{ field.errors }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >비밀번호</label
      >
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          value="{{ form.password.value|default_if_none:'' }}"
        />
        {% for error in form.password.errors %}
        <div id="content-help" class="form-text text-danger">
          {{ field.errors }}
        </div>
        {% endfor %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
</div>
{% endblock %}
