{% extends './base_temp.html' %} {% block main %} {% comment %} {% include
'./partials/tripful_logo.html' %} {% endcomment %}

<div style="max-width: 600px; display: flex; justify-content: center">
  <h1 class="ant-typography css-amq5gd">Tripful</h1>
</div>

<div>
  <form
    id="basic"
    autocomplete="off"
    class="ant-form ant-form-horizontal css-amq5gd"
    style="max-width: 600px"
  >
    <!-- 회원가입 영역-->
    <div style="display: flex; justify-content: center">
      <h2 class="ant-typography css-amq5gd">회원가입</h2>
    </div>
    <!-- 아이디 -->
    <div class="ant-form-item css-amq5gd">
      <div class="ant-row ant-form-item-row css-amq5gd">
        <div class="ant-col ant-col-8 ant-form-item-label css-amq5gd">
          <label
            for="basic_username"
            class="ant-form-item-required"
            title="Username"
            >아이디</label
          >
        </div>
        <div class="ant-col ant-col-16 ant-form-item-control css-amq5gd">
          <div class="ant-form-item-control-input">
            <div class="ant-form-item-control-input-content">
              <input
                id="basic_username"
                aria-required="true"
                class="ant-input css-amq5gd"
                type="text"
                value=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 비밀번호 -->
    <div class="ant-form-item css-amq5gd">
      <div class="ant-row ant-form-item-row css-amq5gd">
        <div class="ant-col ant-col-8 ant-form-item-label css-amq5gd">
          <label
            for="basic_password"
            class="ant-form-item-required"
            title="Password"
            >비밀번호</label
          >
        </div>
        <div class="ant-col ant-col-16 ant-form-item-control css-amq5gd">
          <div class="ant-form-item-control-input">
            <div class="ant-form-item-control-input-content">
              <span
                class="ant-input-affix-wrapper ant-input-password css-amq5gd"
                ><input
                  id="basic_password"
                  aria-required="true"
                  type="password"
                  class="ant-input css-amq5gd" /><span class="ant-input-suffix"
                  ><span
                    role="img"
                    aria-label="eye-invisible"
                    tabindex="-1"
                    class="anticon anticon-eye-invisible ant-input-password-icon"
                    ><svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="eye-invisible"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z"
                      ></path>
                      <path
                        d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z"
                      ></path></svg></span></span
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 닉네임 -->
    <div class="ant-form-item css-amq5gd">
      <div class="ant-row ant-form-item-row css-amq5gd">
        <div class="ant-col ant-col-8 ant-form-item-label css-amq5gd">
          <label class="" title="Input">닉네임</label>
        </div>
        <div class="ant-col ant-col-16 ant-form-item-control css-amq5gd">
          <div class="ant-form-item-control-input">
            <div class="ant-form-item-control-input-content">
              <input class="ant-input css-amq5gd" type="text" value="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 유저유형 -->
    <div
      style="
        width: 100%;
        height: 50px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
      "
    >
      <div class="ant-checkbox-group css-amq5gd">
        <label
          class="ant-checkbox-wrapper ant-checkbox-wrapper-checked ant-checkbox-group-item css-amq5gd"
        >
          <span
            class="ant-checkbox ant-wave-target css-amq5gd ant-checkbox-checked"
          >
            <input
              class="ant-checkbox-input"
              type="checkbox"
              value="normal"
              checked="" />
            <span class="ant-checkbox-inner"></span></span
          ><span>일반 회원</span>
        </label>
        <label class="ant-checkbox-wrapper ant-checkbox-group-item css-amq5gd"
          ><span class="ant-checkbox ant-wave-target css-amq5gd"
            ><input
              class="ant-checkbox-input"
              type="checkbox"
              value="business" /><span class="ant-checkbox-inner"></span></span
          ><span>사업자 회원</span></label
        >
      </div>
    </div>

    <!-- 선호관광유형-->
    <div class="ant-form-item css-amq5gd">
      <div class="ant-row ant-form-item-row css-amq5gd">
        <div class="ant-col ant-col-8 ant-form-item-label css-amq5gd">
          <label class="" title="Select">선호 관광 유형</label>
        </div>

        <!-- 선택끼리 일정 간격 유지 -->
        <div
          class="ant-col ant-col-16 css-amq5gd"
          style="
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
          "
        >
          <!--선호관광유형 선택1-->
          <div class="ant-col ant-col-7 ant-form-item-control css-amq5gd">
            <div class="ant-form-item-control-input">
              <div class="ant-form-item-control-input-content">
                <div
                  class="ant-select ant-select-in-form-item css-amq5gd ant-select-single ant-select-show-arrow"
                >
                  <div class="ant-select-selector">
                    <span class="ant-select-selection-search"
                      ><input
                        type="search"
                        autocomplete="off"
                        class="ant-select-selection-search-input"
                        role="combobox"
                        aria-label="Search"
                        aria-expanded="false"
                        aria-haspopup="listbox"
                        aria-owns="rc_select_0_list"
                        aria-autocomplete="list"
                        aria-controls="rc_select_0_list"
                        readonly=""
                        unselectable="on"
                        value=""
                        id="rc_select_0"
                        style="opacity: 0" /></span
                    ><span class="ant-select-selection-item" title="Demo"
                      >레저</span
                    >
                  </div>
                  <span
                    class="ant-select-arrow"
                    unselectable="on"
                    aria-hidden="true"
                    style="user-select: none"
                    ><span
                      role="img"
                      aria-label="down"
                      class="anticon anticon-down ant-select-suffix"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="down"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"
                        ></path></svg></span
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <!--선호관광유형 선택2-->
          <div class="ant-col ant-col-7 ant-form-item-control css-amq5gd">
            <div class="ant-form-item-control-input">
              <div class="ant-form-item-control-input-content">
                <div
                  class="ant-select ant-select-in-form-item css-amq5gd ant-select-single ant-select-show-arrow"
                >
                  <div class="ant-select-selector">
                    <span class="ant-select-selection-search"
                      ><input
                        type="search"
                        autocomplete="off"
                        class="ant-select-selection-search-input"
                        role="combobox"
                        aria-label="Search"
                        aria-expanded="false"
                        aria-haspopup="listbox"
                        aria-owns="rc_select_0_list"
                        aria-autocomplete="list"
                        aria-controls="rc_select_0_list"
                        readonly=""
                        unselectable="on"
                        value=""
                        id="rc_select_0"
                        style="opacity: 0" /></span
                    ><span class="ant-select-selection-item" title="Demo"
                      >레저</span
                    >
                  </div>
                  <span
                    class="ant-select-arrow"
                    unselectable="on"
                    aria-hidden="true"
                    style="user-select: none"
                    ><span
                      role="img"
                      aria-label="down"
                      class="anticon anticon-down ant-select-suffix"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="down"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"
                        ></path></svg></span
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <!--선호관광유형 선택3-->
          <div class="ant-col ant-col-7 ant-form-item-control css-amq5gd">
            <div class="ant-form-item-control-input">
              <div class="ant-form-item-control-input-content">
                <div
                  class="ant-select ant-select-in-form-item css-amq5gd ant-select-single ant-select-show-arrow"
                >
                  <div class="ant-select-selector">
                    <span class="ant-select-selection-search"
                      ><input
                        type="search"
                        autocomplete="off"
                        class="ant-select-selection-search-input"
                        role="combobox"
                        aria-label="Search"
                        aria-expanded="false"
                        aria-haspopup="listbox"
                        aria-owns="rc_select_0_list"
                        aria-autocomplete="list"
                        aria-controls="rc_select_0_list"
                        readonly=""
                        unselectable="on"
                        value=""
                        id="rc_select_0"
                        style="opacity: 0" /></span
                    ><span class="ant-select-selection-item" title="Demo"
                      >레저</span
                    >
                  </div>
                  <span
                    class="ant-select-arrow"
                    unselectable="on"
                    aria-hidden="true"
                    style="user-select: none"
                    ><span
                      role="img"
                      aria-label="down"
                      class="anticon anticon-down ant-select-suffix"
                      ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="down"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"
                        ></path></svg></span
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--제출 -->
    <div class="ant-form-item css-amq5gd">
      <div class="ant-row ant-form-item-row css-amq5gd">
        <div
          class="ant-col ant-col-16 ant-col-offset-8 ant-form-item-control css-amq5gd"
        >
          <div class="ant-form-item-control-input">
            <div class="ant-form-item-control-input-content">
              <button type="submit" class="ant-btn css-amq5gd ant-btn-primary">
                <span>회원가입</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
