{% extends "main/base.html" %}
{% block main %}
<style>
    @import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-pen.css');
    body, *, div, nav, main {
        font-family: 'NanumBarunPen';
    }
    .row {
        background-color: #FAFAFA;
        padding: 30px;
        border: 1px;
    }
    .table {
        text-align: center;
    }
    
</style>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">
                제목
            </label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목">
        </div>
        <div class="mb-3">
            파일 첨부 (최대 5장)
        </div>
        <div class="input-group mb-3">
            <input type="file" name="image1" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="input-group mb-3">
            <input type="file" name="image2" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="input-group mb-3">
            <input type="file" name="image3" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="input-group mb-3">
            <input type="file" name="image4" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="input-group mb-3">
            <input type="file" name="image5" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                내용
            </label>
            <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="5" placeholder="내용"></textarea>
        </div>
        <button type="submit" class="btn btn-success">
            작성
        </button>
    </form>
</div>
{% endblock %}