<div class="container">
    <h1>게시글 목록</h1>
    <div>
        <a href="{% url 'board:review_write' trip_id=trip.id %}" class="btn btn-primary">
            리뷰 등록하기
        </a>
    </div>
    <ol class="list-group list-group-numbered">
        {% for review in trip.review_set.all %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">
                <a href = "{% url 'board:review_detail' trip_id=trip.id review_id=review.id %}">
                  {{ review.review_title }}
                </a>
              </div>
              {{ review.time }}
            </div>
            <span class="badge bg-primary rounded-pill">{{ review.review_comment_content_set.all | length }}</span>
          </li>
        {% endfor %}
      </ol>
</div>
