{% extends "main/base.html" %}
{% block main %}
<style>
  @import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-pen.css');
  body, *, div, nav, main {
    font-family: 'NanumBarunPen';
  }
  .row {
      background-color: #9b4a4a;
      padding: 30px;
      border: 1px;
  }
      .table {
    text-align: center;
  }
</style>

<div class="container">
    <h1>{{ trip.trip_name }}</h1>
    <div style="padding-top: 15px; padding-bottom: 20px;">
        <a href="{% url 'board:review_write' trip_id=trip.id %}" class="btn btn-primary">
            리뷰 등록하기
        </a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">리뷰id</th>
          <th scope="col">제목</th>
          <th scope="col">글 작성자</th>
          <th scope="col">날짜</th>
          <th scope="col">댓글 수</th> <!-- 도움이 돼요 기능 구현하면 변경 -->
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for review in review_list %}
        <tr>
          <th scope="row">
            {{ review.id }}
          </th>
          <td>
            <a href = "{% url 'board:review_detail' trip_id=trip.id review_id=review.id %}">
              {{ review.review_title }}
            </a>
          </td>
          <td>{{ review.user_id.user_name }}</td>
          <td>{{ review.review_time }}</td>
          <td>{{ review.reviewcomment_set.all | length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if review_list.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ review_list.previous_page_number }}">이전</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in review_list.paginator.page_range %}
      {% if page_number >= review_list.number|add:-5 and page_number <= review_list.number|add:5 %}
      {% if page_number == review_list.number %}
      <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% else %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if review_list.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ review_list.next_page_number }}">다음</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
      {% endif %}
      </ul>
  <!-- 페이징처리 끝 -->
</div>
{% endblock %}