
{% extends "./base.html" %}
{% block main %}

<style>
  @import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-pen.css');
  body, *, div, nav, main {
    font-family: 'NanumBarunPen';
  }
  .row {
      background-color: #FAFAFA;
      padding: 30px;
      border: 1px;
  }
  
  .table {
  text-align: center;
  }
  
  .pagination{
    display: flex;
    justify-content: center;
    color: #FFE1EA;
  }

</style>

<body>
  <div class="container">
      <div class='my-5' style='display:flex; justify-content:flex-start;'>
          <a href='/board/trip/write' style='float:left; align-items: center; height: 5vh; margin: 0; padding-top: 0px;'>
            <button type="button" class="btn btn-light">등록하기</button>
          </a>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style='font-size: 20px; color: #F5A9BC'>상세 카테고리</th>
          <th scope="col" style='font-size: 20px; color: #F5A9BC'>관광지별</th>
          <th scope="col" style='font-size: 20px; color: #F5A9BC'>별점</th>
        </tr>
      </thead>
      <tbody>
        {% if trip_data %}
          {% for item in trip_data %}
            <tr class="table">
              <th scope="row">{{item.id}}</th>
              <th scope="row"><a href="{% url 'board:trip_detail' trip_id=item.id %}">{{ item.trip_category_detail }}</a></th>
              <th scope="row"><a href="{% url 'board:trip_detail' trip_id=item.id %}">{{ item.trip_name }}</a></th>
              <th scope="row">
                {% for comment in trip_comment %}
                  {% if comment.trip_id == item.trip_id %}
                    {% if comment.trip_comment_star >= 100 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% elif comment.trip_comment_star >= 80 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% elif comment.trip_comment_star >= 60 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% elif comment.trip_comment_star >= 40 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% elif comment.trip_comment_star >= 20 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% endif %}
                  {% endif %}
                {% endfor %}
                별점
              </th>
            </tr>
          {% endfor %}
        {% else %}
          <tr class="table">
            <td class="table" colspan="3">데이터가 없습니다.</td>
          </tr>
        {% endif %}
      </tbody>
      
    </table>
  </div>

  <div class ="pagination" style="color: #FFE1EA">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  </body>

                
    



  {% comment %} <ol class="list-group list-group-numbered">
    {% for trip in trip_list %}
        <a href="/board/trip/{{trip.id}}">
          <th class="ant-table-cell" scope="col">상세 카테고리</th>
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ trip.trip_name }}</div>
                    {{trip.TripComment_set.all|length}}
                </div>
        <span class="badge bg-primary rounded-pill">{{trip.TripComment_set.all|length}}</span>
    {% endfor %}
    </ol> {% endcomment %}

{% endblock %}

{% comment %} <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        상세 카테고리
      </div>
      <div class="col">
        상호명
      </div>
      <div class="col">
        별점
      </div>
    </div>
  </div> {% endcomment %}

