
{% extends "main/base.html" %}
{% block main %}

<head>  
  <meta charset = "UTF-8">  
  <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">  
  <title> Bootstrap Star Rating </title>  
  <!--  Add Bootstrap cdn  -->  
  {% comment %} <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />   {% endcomment %}
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  <!--  Add bootstrap icon Library  -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    @import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-pen.css');
    body, *, div, nav, main {
      font-family: 'NanumBarunPen';
    }
    .row {
        background-color: #FAFAFA;
        padding: 30px;
        border: 1px;
    }
    
    .table {
    text-align: center;
    }
    
    {% comment %} .pagination{
      display: flex;
      justify-content: center;
      color: #FFE1EA;
    } {% endcomment %}

    .page-link {
      background-color: #FFE1EA;
      max-width:300px;
    }
    .ratings{
      margin-right:10px;
      
    }
    
    .ratings i{
        
        color:#cecece;
        font-size:32px;
    }
    
    .rating-color{
        color:#fbc634 !important;
    }

  </style>
</head>

<body>

  <div class="container">
      <div class='my-5' style='display:flex; justify-content:flex-start;'>
          <a href='/board/trip/write' style='float:left; align-items: center; height: 5vh; margin: 0; padding-top: 0px;'>
            <button type="button" class="btn btn-light">등록하기</button>
          </a>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style='font-size: 20px; color: #F5A9BC'>상세 카테고리</th>
          <th scope="col" style='font-size: 20px; color: #F5A9BC'>관광지별</th>
          <th scope="col" style='font-size: 20px; color: #F5A9BC'>별점</th>
        </tr>
      </thead>
      <tbody>
        {% if trip_data %}
          {% for item in page_obj %}
            <tr class="table">
              <th scope="row">{{item.id}}</th>
              <th scope="row"><a style="color: #000000; text-decoration: none;" href="{% url 'board:trip_detail' trip_id=item.id %}">{{ item.trip_category_detail }}</a></th>
              <th scope="row"><a style="color: #000000; text-decoration: none;" href="{% url 'board:trip_detail' trip_id=item.id %}">{{ item.trip_name }}</a></th>
              <th scope="row">
                {% comment %} {% for comment in trip_comment %}
                  {% if comment.trip_id == item.trip_id %}
                    {% if comment.trip_comment_star == 4.0 %} {% endcomment %}
                      
                      {% comment %} <div class="d-flex mt-5 align-items-center"> {% endcomment %}
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    {% comment %} </div>   {% endcomment %}
                      
                    {% comment %} {% elif comment.trip_comment_star >= 4.0 %}
                    <div>
                      <span class = "fa fa-star checked"></span>
                      <span class = "fa fa-star checked"></span>
                      <span class = "fa fa-star checked"></span>  
                      <span class = "fa fa-star checked"></span>  
                      <span class = "fa fa-star unchecked"></span>    
                    </div>
                    {% elif comment.trip_comment_star >= 3.0 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% elif comment.trip_comment_star >= 2.0 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% elif comment.trip_comment_star >= 1.0 %}
                      <!-- 별점에 대한 어떤 내용 출력 -->
                    {% endif %}
                  {% endif %}
                {% endfor %} {% endcomment %}
              </th>
            </tr>
          {% endfor %}
        {% else %}
          <tr class="table">
            <td class="table" colspan="3">데이터가 없습니다.</td>
          </tr>
        {% endif %}
      </tbody>
      
    </table>
  </div>

  {% comment %} <div class ="pagination" style="color: #FFE1EA">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> {% endcomment %}

  <div class="page_pass">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="color: #FFE1EA">
            
            <!-- 이전페이지 -->
            {% if paginator.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paginator.previous_page_number }}" aria-label="Previous">previous
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <!-- 페이지리스트 -->
              {% comment %} {% for trip_data in page_obj %}
                  {% if page_obj.number == page_obj.posts_per_page %}
                  <li class="page-item active" aria-current="page">
                      <a class="page-link" href="?page={{ page_obj.number }}">{{page_obj.number}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                  </li>
                  {% endif %}
              {% endfor %} {% endcomment %}
              {% for contact in page_obj %}
                {% if forloop.counter0 < page_obj.paginator.per_page %}
                    {% if trip_data.id == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ trip_data.id }}">{{ trip_data.id }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ trip_data.id }}">{{ trip_data.id }}</a>
                        </li>
                    {% endif %}
                {% endif %}
              {% endfor %}


            <!-- 다음페이지 -->
            {% if paginator.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paginator.next_page_number }}">previous</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

</body>

<script>
  
</script>      
    

{% endblock %}


